bin/
key.txt
lib/
pyvenv.cfg
share/
contrasted.png
ndvi.png
ndvi_contrasted.png
output.csv
test.png
test.py
__pycache__
Makefile
test.db
database.ini
lib64
scratch.txt
testdatabase.py
Scripts/
build/
dist/
guiapp.spec